@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav i {
  color: black;
  font-size: 30px;
  overflow: hidden;
}

ul {
  display: flex;
  justify-content: end;
}

ul a {
  font-size: 25px;
  font-family: Agbalumo;
  gap: 2rem;
  padding-right: 50px;
  color: black;
  cursor: pointer;
}

.div-1 {
  max-width: 800px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 50px;
  background: #fbfbfbc5;
}

.logo {
  height: 100px;
  width: 200px;
  object-fit: cover;
  border-radius: 75%;
}

.introduction {
  padding-bottom: 40px;
}

.all-container {
  padding-bottom: 40px;
}

.image-h2 h4 {
  padding-top: 20px;
}

.image-h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

/* @media (max-width: 870px) {
  nav {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  ul {
    display: none;
    justify-content: end;
  }
} */
